name: CI

on:
  pull_request: {}
  workflow_dispatch: {}

jobs:
  build:
    name: Build branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 23 for Javadoc toolchain
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and test
        env:
          JAVA_HOME: ${{ env.JAVA_HOME_17_X64 }}
        run: mvn verify

      - name: Validate Javadoc generation
        env:
          JAVA_HOME: ${{ env.JAVA_HOME_17_X64 }}
        run: mvn -Pjavadoc,javadoc-toolchain javadoc:aggregate
